<link rel="import" href="diary-note.html">

<dom-module id="day-view">
  <template>
    <style>
      :host {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
      }
      .dayHeader {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 24px 0 20px;
      }
      .date {
        font-size: 80px;
        font-family: "Raleway";
        font-weight: 100;
      }
      .month {
        font-size: 16px;
        font-family: "Raleway";
        font-weight: 400;
      }
      .day {
        font-size: 24px;
        font-family: "Raleway";
        font-weight: 300;
      }
      .notesWrapper {
        width: 80%;
        border-top: 1px solid #a9a9a9;
        padding: 12px;
      }
    </style>

    <div class="dayHeader">
      <div class="headerTop">
        <span class="date">[[_getDate()]]</span>
        <span class="month">[[_getMonth()]]</span>
      </div>
      <div class="headerBottom">
        <span class="day">[[_getDay()]]</span>
      </div>
    </div>

    <div class="notesWrapper">
      <diary-note></diary-note>
    </div>

  </template>

  <script>
    Polymer({
      is: 'day-view',

      properties: {},

      _getDate: function() {
        return new Date().getDate();
      },

      _getMonth: function() {
        return MONTH[new Date().getMonth()].substr(0,3);
      },

      _getDay: function() {
        return DAYS[new Date().getDay()];
      }
    });
  </script>
</dom-module>