<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="diary-icons.html">
<link rel="import" href="month-view.html">
<link rel="import" href="day-view.html">

<dom-module id="diary-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    
    <!--<month-view></month-view>-->
    <day-view></day-view>

  </template>

  <script>
    Polymer({
      is: 'diary-app',

      properties: {}

    });
    const MONTH = ["January","February","March","April","May","June","July","August","September","October","November","December"];
    const DAYS = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
  </script>
</dom-module>