<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="diary-404">
  <template>
    <style>
      :host {
        display: block;

        padding: 10px 20px;
      }
    </style>

    <!-- 
      If deploying in a folder replace href="/" with the full path to your site.
      Such as: href=="http://polymerelements.github.io/polymer-starter-kit"
    -->
    Oops you hit a 404. <a href="/">Head back to home.</a>
  </template>

  <script>
    Polymer({
      is: 'diary-404',
    });
  </script>
</dom-module>
