<dom-module id="diary-note">
  <template>
    <style>
      :host {
        display: block;
      }
			#note {
				box-sizing: border-box;
				width: 100%;
				resize: none;
				border: none;
				outline: none;
				padding: 0;
				font-family: 'Neucha';
				font-size: 20px;
				cursor: text;
				user-select: initial;
			}
			#note[contenteditable=true]:empty:before {
				content: attr(placeholder);
				display: block;
				color: #d3d3d3;
			}
    </style>

    <div id="note" placeholder$="[[_choosePlaceholder()]]" contenteditable="true"></div>

  </template>

  <script>
    Polymer({
      is: 'diary-note',

      properties: {
      },

      _choosePlaceholder: function() {
        const opts = [
					"What's on your mind?",
					"How was your day?",
					"You can tell me everything!",
					"How is it going?",
				];
				return opts[Math.floor(Math.random()*opts.length)];
      }
    });
  </script>
</dom-module>