<dom-module id="month-view">
  <template>
    <style>
      :host {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
      }
      .dayHeader {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 36px 0 20px;
      }
      .month {
        font-size: 48px;
        font-family: "Raleway";
        font-weight: 400;
      }
      .day {
        font-size: 24px;
        font-family: "Raleway";
        font-weight: 300;
      }
      .monthWrapper {
        width: 80%;
        border-top: 1px solid #a9a9a9;
        padding: 12px;
      }
    </style>

    <div class="dayHeader">
      <div class="headerTop">
        <span class="month">[[_getMonth()]]</span>
      </div>
      <div class="headerBottom">
        <span class="day">[[_getYear()]]</span>
      </div>
    </div>

    <div class="monthWrapper">

    </div>

  </template>

  <script>
    Polymer({
      is: 'month-view',

      properties: {},

      _getMonth: function() {
        return MONTH[new Date().getMonth()];
      },

      _getYear: function() {
        return new Date().getFullYear();
      }
    });
  </script>
</dom-module>